%html
  %meta{ content: "text/html; charset=utf-8", http-equiv: "Content-Type" }
  %head
    %link{ href: "style.css", rel: "stylesheet", type:"text/css" }
  %body{ ng-app: "appModule", ng-controller: "appController as appVM" }
    / Other peoples' stuff
    %script{src: "bower_components/lodash/lodash.min.js"}
    %script{src: "bower_components/jquery/dist/jquery.min.js"}
    %script{src: "bower_components/angular.js/angular.js"}
    %script{src: "bower_components/angular.js/angular-route.min.js"}
    %script{src: "bower_components/angular-local-storage/dist/angular-local-storage.min.js"}

    / My stuff
    %script{src: "app.module.js"}
    %script{src: "some.service.js"}
